<section class="the-map">
  <img src="assets/field_best.jpg" alt="The field" class="board" />
  <div class="score">
    <!-- Upper line -->
    <div class="score-item si-1"></div>
    <div class="score-item si-2"></div>
    <div class="score-item si-3"></div>
    <div class="score-item si-4"></div>
    <div class="score-item si-5"></div>
    <div class="score-item si-6"></div>
    <div class="score-item si-7"></div>
    <div class="score-item si-8"></div>
    <div class="score-item si-9"></div>
    <div class="score-item si-10"></div>
    <div class="score-item si-11"></div>
    <div class="score-item si-12"></div>
    <div class="score-item si-13"></div>
    <div class="score-item si-14"></div>
    <div class="score-item si-15"></div>
    <div class="score-item si-16"></div>
    <div class="score-item si-17"></div>
    <div class="score-item si-18"></div>
    <div class="score-item si-19"></div>
    <div class="score-item si-20"></div>
    <div class="score-item si-21"></div>
    <div class="score-item si-22"></div>
    <div class="score-item si-23"></div>
    <div class="score-item si-24"></div>
    <div class="score-item si-25"></div>
    <div class="score-item si-26"></div>
    <div class="score-item si-27"></div>

    <!-- Game area -->
    <div class="score-item game-area"></div>

    <!-- Sides -->
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>

    <!-- Bottom line -->
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
    <div class="score-item"></div>
  </div>
</section>
