.board {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
}

.header-image {
  background-image: url("../../../assets/corporation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
