<header [ngSwitch]="step">
  <h2 *ngSwitchCase="0">
    Choose needed number of players
  </h2>
  <h2 *ngSwitchCase="1">
    Set the name for each of the players
  </h2>
</header>

<article class="container" [ngSwitch]="step">
  <button mat-stroked-button color="warn" (click)="step = 0">Back</button>

  <form class="form" name="step1" *ngSwitchCase="0">
    <mat-form-field>
      <mat-label>Number of players</mat-label>
      <mat-select [(ngModel)]="numberOfPlayers" name="_not_used" (ngModelChange)="onPlayerNumberChoose()">
        <!-- TODO Process disabled in more correct place -->
        <mat-option
          *ngFor="let number of possibleNumberOfPlayers"
          [value]="number"
          [disabled]="number === 1"
        >
          {{number}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onPlayersNumberChoiceFinish()">Next</button>
  </form>

  <form class="form" name="step2" *ngSwitchCase="1">
    <mat-form-field *ngFor="let number of numberOfPlayers | numberToArray">
      <mat-label>Name of the of the {{ number }} player</mat-label>
      <input
        matInput
        placeholder="Player number {{ number }} name"
        [(ngModel)]="players[number-1]"
        name="players.{{number-1}}"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onPlayersNamesEditFinish()">Move to corporation choice</button>
  </form>
</article>
